<%- include('../commonViews/header.ejs'); %>

<link type="text/css" href="../../css/errors/error.css" rel="stylesheet" /> <!--Contributor: Jiayuan Wen-->
<canvas id="canvas"></canvas> <!--Contributor: Jiayuan Wen-->
<div id="container"> <!--Contributor: Jiayuan Wen-->
    <h1 id="errorCode">Error: <%= errorCode%></h1> <!--Contributor: Jiayuan Wen-->

    <div id="errorMessage_general"> <!--Contributor: Jiayuan Wen-->
        <%= errorMsg_general%>
    </div>

    <div id="errorMessage_specific"> <!--Contributor: Jiayuan Wen-->
        <%= errorMsg_specific%>
    </div>
</div>


<%- include('../commonViews/footer.ejs'); %>

<script src="../../js/bg.js" type="text/javascript"></script>

